/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-clr: rgba(255, 241, 247, 1);
  --accent-color: rgba(255, 141, 203, 1); /* тень заголовка header */
  --title-clr: rgba(53, 52, 48, 1); /*  цвет текста заголовков */
  --title-section-color: rgba(53, 52, 48, 1); /* заголовок секции */
  --page-bg-img: url(../images/cover-image-light.png);
  --headfoot-title-clr: rgba(255, 194, 230, 1); /* цвет текста заголовков header и footer */
  --header-rec-display: none;
  --title-decor: rgba(255, 141, 203, 1); /* цвет фона заголовков */
  --decor-zone-clr: rgba(53, 52, 48, 1); /* уголки в header и footer */
  --header-button-clr: rgba(53, 52, 48, 1);
  --header-button-brd-clr: rgba(53, 52, 48, 0.4);
   --text-color: rgba(53, 52, 48, 1); /* цвет текста article */
}

@media (width >= 1024px) {

  .header__title {
    --accent-color: rgba(255, 0, 112, 1);
    text-shadow: 4px 4px 0 var(--accent-color, rgba(255, 0, 112, 1));
  }

  .footer__title {
    --accent-color: rgba(255, 0, 112, 1);
    text-shadow: 2px 2px 0 var(--accent-color, rgba(255, 0, 112, 1));
  }

}

@media (prefers-color-scheme: light) {

  :root {
    --bg-clr: rgba(255, 241, 247, 1);
    --accent-color: rgba(255, 141, 203, 1); /* тень заголовка header */
    --title-clr: rgba(53, 52, 48, 1); /*  цвет текста заголовков */
    --title-section-color: rgba(53, 52, 48, 1); /* заголовок секции */
    --page-bg-img: url(../images/cover-image-light.png);
    --headfoot-title-clr: rgba(255, 194, 230, 1); /* цвет текста заголовков header и footer */
    --header-rec-display: none;
    --title-decor: rgba(255, 141, 203, 1); /* цвет фона заголовков */
    --decor-zone-clr: rgba(53, 52, 48, 1); /* уголки в header и footer */
    --header-button-clr: rgba(53, 52, 48, 1);
    --header-button-brd-clr: rgba(53, 52, 48, 0.4);
    --text-color: rgba(53, 52, 48, 1); /* цвет текста article */    
    }

}